secret=<your secret>
CALLS_PER_MINUTE = <Max number of calls per ip in a minute>
MONGO_DB_URL=<Database URL, Try to provide different db than  real one to not let test disturb your original database>
